.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("a1.jpg");
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("a2.jpg");
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("a3.jpg");
}
.carousel-item {
  height: 600px;
}
